body {
    height: 100vh; /* Задаем высоту вьюпорта */
    margin: 0; /* Убираем отступы */
    background: linear-gradient(270deg, #ce541c, #d13e11, #0bd3b2, #09e677);
    background-size: 500% 500%; /* Увеличиваем размер градиента для анимации */
    animation: gradientAnimation 5s ease infinite; /* Задаем анимацию */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* Стили для ссылок в навигации */
nav a {
    font-size: 20px; /* Устанавливает размер шрифта для ссылок в навигации на 20 пикселей */
    font-weight: bold; /* Делаем текст ссылок жирным */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

/* Стили для нижнего колонтитула (footer) */
footer {
    font-style: italic; /* Устанавливает курсивный стиль для текста в нижнем колонтитуле */
}

/* Стили для элемента p1 (неправильный селектор, должен быть .p1 или #p1) */
p1 {
    font-style: italic; /* Устанавливает курсивный стиль для текста элемента p1 */
}

/* Стили для всех ссылок на странице */
a {
    color: black; /* Устанавливает черный цвет текста для всех ссылок на странице */
    text-decoration: none; /* Убирает подчеркивание у всех ссылок */
}

/* Стили для текстовой области (textarea) */
textarea {
    width: 300px; /* Устанавливает ширину текстовой области на 300 пикселей */
    height: 100px; /* Устанавливает высоту текстовой области на 100 пикселей */
}

/* Стили для изображений с синей точечной рамкой*/  
img {
   border: 3px dotted blue; /* Толщина рамки - 3 пикселя, стиль - точечный, цвет - синий*/
}
li {
    color: transparent;
}
nav a {
    color: #ffcc00; /* Цвет текста для ссылок в навигации */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Делаем текст жирным */
    padding: 5px 5px; /* Добавляем отступы для улучшения кликабельности */
    border-radius: 10px; /* Закругляем углы */
}

nav a:hover {
    background-color: #29228d; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}


/* Стиль для изображений в таблице сотрудников */
table td > img {
    width: 100px; /* Устанавливаем фиксированную ширину изображений */
    height: auto; /* Высота автоматически подстраивается для сохранения пропорций */
    border-radius: 5px; /* Закругляем углы изображений */
    border: 2px solid #333; /* Добавляем рамку вокруг изображений */
    transition: transform 0.3s; /* Плавный переход для эффекта при наведении */
}

table td > img:hover {
    transform: scale(1.1); /* Увеличиваем изображение при наведении */
}

nav a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

nav a:hover {
    color: rgb(85, 47, 47); 
}

/* Стили для внешней ссылки на МВД РФ */
nav a[href="https://www.mvd.ru"] {
    color: #000000; /* Цвет для ссылки на МВД */
}
